/*CSS document*/

body {
    font-family: 'Oswald', sans-serif;
    color: #3f334d;
}

header {
    background-color: #e5e5e6;
    padding: .01em 2em;
}

div.container {
    max-width: 80em;
    margin: auto;
}

h1 {
    width: 6em;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    margin: 0em 0em .5em;
}

section {
    max-width: 40em;
    margin: 0 auto 3em;
    padding-bottom: 2em;
}

section p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: #3f334d;
}

main {
    padding: 1em 1em;
}

figure {
    margin: 0 0 .5em;
}

img {
    width: 100%;
}

.backpacks {
    width: 35%;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul {
    padding:0em 1em 1em 1em;

}

nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 2em;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #7d8491;
}

nav ul li a{
    color: #574b60;
    text-decoration: none;
}

article {
    margin: 1em 0 2em 0;
    padding: 0em 1em;
}

aside {
    padding-top: 1em;
}

figcaption {
    font-style: italic;
    font-weight: 200;
    font-size: .8em;
}

footer {
    background-color: #e5e5e6;
    padding: .01em 1em;
}

@media screen and (min-width: 60em){
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    header {
        grid-column: 1/3;
    }

    main {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 1em;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure {
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
        /* background-color: #ff0; */
    }

    section.mainstory figure div {
        flex: 1 0 18em;
        background-image: url(onebag.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    section.mainstory figure figcaption {
        flex: 0 0 3em;
    }

    section.mainstory figure div img{
        height: 100%;
        opacity: 0;
    }

    section.mainstory h3 {
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory p {
        flex: 0 0 auto;
        margin: 0
    }
    aside {
        grid-column: 2/3;
    }
}